* {
    margin: 0;
    padding: 0;
    font-family:monospace;
}

body{
    font-size:10px;
    height:100vh;
    box-sizing:border-box;
}

header{
    height:8vh;
    width:100%;
    background-color:orange;
    text-align:center;
    position:fixed;
    top:0;
}

h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3rem;
    font-weight:100;
    letter-spacing:1px;
}


section{
    height:92vh;
    margin-top:8vh;
    width:100%;
    background-color:#eee;
    display:inline-block;
}

    section > div {
        margin: 3rem auto;
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #C0C0C0;
        box-shadow: 0px 5px 2px rgba(0,0,0,.2);
        padding: 1rem;
        border-radius: 5px;
        background-color: #fff;
    }


.input-title {
    height: 2rem;
    color: #696969;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: none;
    border: 1.5px solid #eee;
    padding-left: 5px;
    font-size: 1.4rem;
    outline: none;
    transition: all .4s;
}

    .input-title:focus {
        border-color: #C0C0C0;
    }

.input-description {
    border-radius: 5px;
    color: #696969;
    box-shadow: none;
    border: 1.5px solid #eee;
    padding: 5px;
    height: 6rem;
    font-size: 1.2rem;
    outline: none;
    transition: all .4s;
}

    .input-description:focus {
        border-color: #C0C0C0;
    }

.button-card{
    margin-top:10px;
    align-self:flex-end;
    padding:5px 10px;
    outline:none;
    color:#fff;
    border:none;
    background-color:orange;
    font-size:1.2rem;
    border-radius:10px;
    cursor:pointer;
    letter-spacing:1px;
    transition:all .2s;
}

.button-card:hover{
    transform:translateY(-2px);
    background-color:gold;
}

.button-card:active{
    transform:translateY(1px);
}
