* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 10px;
    height: 100vh;
    box-sizing: border-box;
    color: #5f6368;
}

header {
    height: 8vh;
    width: 100%;
    background-color: #fff;
    border-bottom:1px solid #C0C0C0;
    display:flex;
    align-items:center;
    position: fixed;
    top: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.create-session {
    height: 43%;
    margin-top: 8vh;
    width: 100%;
    display: inline-block;
}

    .create-session > div {
        margin: 3rem auto;
        width: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #C0C0C0;
        box-shadow: 0px 5px 2px rgba(0,0,0,.2);
        padding: 1rem;
        border-radius: 5px;
        background-color: #fff;
    }

.add-note {
    margin: 3rem auto;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #C0C0C0;
    box-shadow: 0px 5px 2px rgba(0,0,0,.2);
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
}

.title-contain{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.bottom-contain{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

.icon-button-div{
    margin-top:1rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:50%;
}
.change{
    width:100%;
}

.icon-button-div button {
    outline: none;
    border: none;
    height: 2rem;
    width: 2rem;
    padding: .5rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
    color: #5f6368;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.icon-button-div button:hover {
    background-color: rgba(0,0,0,.2);
}

.note-titles{
    display:flex;flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

    .note-titles button {
        outline: none;
        border: none;
        height: 2rem;
        width: 2rem;
        padding: .5rem;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: all .3s;
        color: #5f6368;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.note-titles button:hover {
    background-color: rgba(0,0,0,.2);
}

.title-contain button {
    outline: none;
    border: none;
    height: 2rem;
    width: 2rem;
    padding: .5rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
    color: #5f6368;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-contain button:hover {
    background-color: rgba(0,0,0,.2);
}

.input-title {
    box-shadow: none;
    padding: 5px;
    font-size: 1.2rem;
    border: none;
    color: inherit;
    outline: none;
    transition: all .4s;
    border-radius: 3px;
    width: 95%;
}

.input-description {
    box-shadow: none;
    border: none;
    padding: 5px;
    color: inherit;
    font-size: 1.2rem;
    outline: none;
    transition: all .4s;
    border-radius: 3px;
}


.button-card {
    align-self: flex-end;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    border: none;
    background-color: lightgray;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .2s;
}

    .button-card:hover {
        transform: translateY(-2px);
        background-color: #a8df65;
    }

    .button-card:active {
        transform: translateY(1px);
    }

.note-session{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:83%;
    margin:0 auto;
}

.note-cards {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    width:325px;
    margin-bottom:1rem;
    transition:all .4s;
}

.note-list {
    width: 60%;
}

.note-grid{
    width:325px;
}

    .note-cards i {
        visibility: hidden;
    }
    .note-cards:hover i{
visibility:visible;
    }
        .note-cards:hover{
        box-shadow:0px 2px 10px rgba(0,0,0,.2);
        transform:scale(1.02);
    }


    .note-cards p {
        font-size: 1.4rem;
    }
    .note-cards>p {
        margin-bottom:.5rem;
    }
    
    .button-layout{
        display:flex;
        align-items:center;
        justify-content:flex-end;
    }

.button-edit {
    background-color:lightgray;
    margin-right:1rem;
}

    .button-edit:hover {
        background-color: #f6d743;
    }

.button-delete {
    background-color: lightgray;
}

.button-delete:hover{
    background-color:orangered; 
}


.menuAndIcons {
    width: 20%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search {
    width: 60%;
    margin-left:2rem;
    margin-right:2rem;
    display: flex;
    align-items: center;
    height: 80%;
    background-color: lightgray;
    border:1px solid lightgray;
    box-sizing:border-box;
    border-radius:5px;
    transition:all .2s;
}

.search i{
    font-size:1.1rem;
    margin-left:3%;
    margin-right:2%;
}

.search input{
    border:none;
    background-color:inherit;
    font-size:1.2rem;
    outline:none;
    width:90%;
}

.search input:focus .search{
   background-color:#fff;
}

.image-header{
    display:flex;
    align-items:center;
    flex-direction:row;
}

header button {
    outline: none;
    border: none;
    height:2.5rem;
    width:2.5rem;
    padding: .5rem;
    background: #fff;
    border-radius: 50%;
    cursor:pointer;
    transition: all .3s;
    color: #5f6368;
    font-size: 1.3rem;
    display:flex;
    align-items:center;
    justify-content:center;
}

header button:hover{
    background-color:rgba(0,0,0,.2);
}

.drawer{
    width:240px;
    height:91vh;
    position:absolute;
    top:51px;
    left:0;
    visibility:hidden;
    opacity:0;
    background-color:#fff;
    border-right:1px solid lightgray;
    animation:drawerClose .5s;
    z-index:10;
    box-shadow:0px 2px 10px rgba(0,0,0,.2);
}

@keyframes drawerClose{
    0% {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        transform: translateX(-240px);
        visibility: hidden;
        opacity: 0;
    }
}

.drawer-open{
    visibility:visible;
    opacity:1;
    animation:drawerOpen .5s;
}

@keyframes drawerOpen{
    0% {
        transform: translateX(-240px);
        visibility: hidden;
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        visibility:visible;
        opacity:1;
    }
}

.drawer a{
    text-decoration:none;
    color:inherit;
    font-size:1.2rem;
    padding:.5rem;
    width:90%;
    display:block;
    border-bottom-right-radius:50px;
    border-top-right-radius:50px;
    transition:all .2s;
}

    .drawer a:hover {
        background-color: #feefc3;
    }

    .drawer a:visited {
        background-color: #feefc3;
    }

.color-icons{
    height:1.2rem;
    width:1.2rem;
    border-radius:50%;
    margin:3px;
    border:1px solid lightgray;
}
.color-contain {
    width: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    height: auto;
    top: 100%;
    z-index:100;
    visibility:hidden;
    background-color:#fff;
    box-shadow:0px 2px 10px rgba(0,0,0,.2);
    transition:all .3s;
}

.color-show{
    visibility:visible;
}



.user-menu {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 100%;
    right:10%;
    border-radius:3px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 2px 10px rgba(0,0,0,.2);
    visibility:hidden;
}

.user-menu-open{
    visibility:visible;
}

.user-out{
    height:70px;
    width:100%;
    position:absolute;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top:1px solid lightgray;
}

.user-pic {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

.user-pic i{
    height:4rem;
    width:4rem;
    border-radius:50%;
    background-color:lightgray;
    display:flex;
    font-size:1.4rem;
    align-items:center;
    justify-content:center;
}

.user-pic>p{
    font-size:1.1rem;
}

.user-out div{
    padding:5px;
    border:1px solid lightgray;
    border-radius:5px;
    transition:all .3s;
}

.user-out div:hover{
    background-color:lightgray;
}

.user-pro{
    display:flex;
    align-items:center;
    padding:5px;
    transition:all .3s;
}

.user-pro:hover{
    background-color:lightgray;
}

.user-pro p{
    font-size:.8rem;
}

.user-pro i{
    padding:10px;
    color:#fff;
    margin-right:15px;
    margin-left:30px;
    background-color:lightgray;
    border-radius:50%;
}