
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundoo</title>
    <link href="~/Content/index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>FundooNote</h1>
    </header>
    <section>
        <div>
            <input class="input-Title" autofocus id="Text1" type="text" placeholder="Title" />
            <br />
            <textarea class="textarea-Description" id="TextArea1" rows="4" cols="40" placeholder="Description"></textarea>
            <input class="button-card" id="Button1" type="button" value="ADD" />
        </div>
    </section>
</body>
</html>
